.portfolio-current-table-container {
   
    .portfolio-current-table-button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;

        button {
            width: 375px;
        }
    }

}