.my-savings-container {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        white-space: nowrap;

        .timelapses {
            display: flex;
            gap: 4px;

            .timelapse {
                cursor: pointer;
                padding: 4px;
                min-width: 25px;
                border-radius: 5px;
                border: solid 1px #009cdc;
                text-align: center;
                font-size: .9rem;
                font-weight: bold;

                &.active {
                    background-color: #009cdc;
                    color: #fff;
                }
            }
        }
    }
}