.login-container {
    background-color: #e2e2e2;
    height: 100%;
}

.security-flows-container {
    background-color: #e2e2e2;
    height: 100%;
}

.cg-footer {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 14px;
    color: #000;
    padding-top: 25px;
    padding-bottom: 25px;
}

.security-flows-link {
    max-width: 1140px; 
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    text-align: right;
    margin-bottom: 0px;

    a {
        padding-right: 10px;
    }
}