.loan-terms-container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    gap: 24px;

    .loan-terms-content{
        background-color: var(--neutrals-white);
        padding: 30px 0;
    }

    .loan-terms-body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 880px;
        margin-left: auto;
        margin-right: auto;
    }

    .loan-terms-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .loan-terms-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 16px;
    }

    .loan-terms-header-step {
        color: #6F6F6F;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0;
    }

    .loan-terms-header-title {
        color: #005F9E;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0;
    }

    .loan-terms-info-title {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0;
    }


    .loan-terms-contact-info {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .loan-calculator-left {
        padding-right: 20px;
        width: 50%;
    }

    .loan-calculator-right {
        border-left: 1px solid #BFBFBF;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
    }
}