.loans-and-withdrawals-container {
    max-width: 1140px; 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;

    .loans-and-withdrawals-content {
        display: flex;
        flex-direction: column;
        gap: 24px;    
    }

    
    .loans-and-withdrawals-card {
        background-color: #fff;

        .loans-and-withdrawals-card-content {
            padding: 30px 40px
        }
    }


    .loans-and-withdrawals-header {
        font-size: 1.75rem;
        letter-spacing: -0.29px;
        font-weight: 300;
        margin-bottom: 24px;
    }

}