.investment-rebalance-step-3-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--neutrals-white);
    padding: 30px 40px;

    .investment-rebalance-step-3-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 16px;
    }

    .investment-rebalance-step-3-header-step {
        color: #6F6F6F;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0;
    }

    .investment-rebalance-step-3-header-title {
        color: #005F9E;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0;
    }


    .investment-rebalance-step-3-body {
        display: flex;
        flex-direction: column;
    }   

    .changes-verify-table-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 16px;
        max-width: 721px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 55px;
    }

    .changes-verify-item {
        padding: 16px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: -webkit-fill-available;
        border-bottom: 1px solid #B2B2B2;
    }

    .changes-verify-item-title {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;

        &.big {
            font-size: 22px;
            font-weight: 400;
        }
    }

    .changes-verify-item-value {
        color: #000;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0;
    }

    .cg-button:not(.wizard-footer button) {
        padding: 8px 24px;
        height: 30px;
    }

    .investment-rebalance-step-3-resume-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;   
        gap: 24px;
    }

    .investment-rebalance-step-3-resume-title {
        display: flex;
        width: 100%;
        padding: 30px 0 ;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 0 0;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0;
    }

    .investment-rebalance-step-3-resume-table-container {
        width: 807px;
    }

    table {
        border: 1px solid #ccc !important;
    }

    thead tr {
        border-bottom: none !important;   
    }

    tbody tr {
        border-bottom: none !important;   
    }

    tfoot tr {
        border-top: none !important;   
    }
}
