.top-bar {
    width: 100%;
    min-height: 76px;
    text-align: left;
    background-color: var(--neutrals-white);
    position: sticky;
    top: 0;
    z-index: 1;
    .top-bar-content {
        max-width: 1140px; 
        margin-right: auto;
        margin-left: auto;
  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}