.cg-section-header-container {

    width: 100%;
    text-align: center;   

    .title {
        font-size: 1.4rem;
        letter-spacing: 0;
        font-weight: 700;
        text-align: left;
        color: #005f9e;
        text-align: center !important;
    }

    .subtitle {
        color: #777;
        font-size: .9rem;
        text-align: center !important;
    }
    
}
