.withdrawal-request-beneficiaries-container {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  gap: 24p;

  .withdrawal-request-beneficiaries-content {
    background-color: var(--neutrals-white);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .withdrawal-request-beneficiaries-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  .withdrawal-request-beneficiaries-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
  }

  .withdrawal-request-beneficiaries-header-title {
    color: #005f9e;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0;
    display: flex;
  }

  .withdrawal-request-beneficiaries-form {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .withdrawal-request-beneficiaries-form-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    width: 100%;
  }

  .withdrawal-request-beneficiaries-info-title {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }

  .withdrawal-request-beneficiaries-controls {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .withdrawal-request-beneficiaries-controls-input {
    display: flex;
    align-items: flex-start;

    .cg-button {
      height: 38px;
      padding: 0 24px;
      margin-top: 30px;
    }

    .cg-input-select {
      width: 360px;
    }
  }

  .withdrawal-request-beneficiaries-new-beneficiary-header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #ebf3f7;
    margin-bottom: 16px;
  }

  .withdrawal-request-beneficiaries-new-beneficiary-title {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    display: flex;
    align-items: center;
    gap: 8px;

    .MuiSvgIcon-root {
      cursor: pointer;
    }
  }

  .withdrawal-request-beneficiaries-new-beneficiary-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .withdrawal-request-beneficiaries-new-beneficiary-percentage {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    justify-content: space-between;
    .cg-input-text {
      width: 100px;
    }
  }

  .withdrawal-request-beneficiaries-new-beneficiaries-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  .withdrawal-request-beneficiaries-new-beneficiary-columns {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .withdrawal-request-beneficiaries-new-beneficiary-rows {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    .cg-input-text,
    .cg-input-date-picker,
    .cg-input-select {
      width: 100%;
    }
  }

  .withdrawal-request-beneficiaries-new-beneficiary-person-address,
  .withdrawal-request-beneficiaries-new-beneficiary-entity-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }


  label {
    padding: 3px 0;
    gap: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
  }

  .hidden {
    display: none;
  }
}
