.custom-range {
    width: 100%;
    height: 1.4rem;
    padding: 0;
    background-color: rgba(0,0,0,0);
    appearance: none
}

.custom-range:focus {
    outline: none
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0px 1px 3px rgba(0,0,0,.9);
}

.custom-range:focus::-moz-range-thumb {
    box-shadow: 0px 1px 3px rgba(0,0,0,.9);
}

.custom-range:focus::-ms-thumb {
    box-shadow: 0px 1px 3px rgba(0,0,0,.9);
}

.custom-range::-moz-focus-outer {
    border: 0
}

.custom-range::-webkit-slider-thumb {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.5rem;
    background-color: #fff;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0px 1px 3px rgba(0,0,0,.9);
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none
}

.custom-range::-webkit-slider-thumb:active {
    background-color: #fff;
}

.custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: .5rem;
    color: rgba(0,0,0,0);
    cursor: pointer;
    background-color: #005f9e;
    border-color: rgba(0,0,0,0);
    border-radius: 1rem
}

.custom-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 0;
    border-radius: 1rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none
}

.custom-range::-moz-range-thumb:active {
    background-color: #fff;
}

.custom-range::-moz-range-track {
    width: 100%;
    height: .5rem;
    color: rgba(0,0,0,0);
    cursor: pointer;
    background-color: #005f9e;
    border-color: rgba(0,0,0,0);
    border-radius: 1rem
}

.custom-range::-ms-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: 0;
    margin-right: .2rem;
    margin-left: .2rem;
    background-color: #fff;
    border: 0;
    border-radius: 1rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none
}

.custom-range::-ms-thumb:active {
    background-color: #fff;
}

.custom-range::-ms-track {
    width: 100%;
    height: .5rem;
    color: rgba(0,0,0,0);
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    border-width: .5rem
}

.custom-range::-ms-fill-lower {
    background-color: #005f9e;
    border-radius: 1rem
}

.custom-range::-ms-fill-upper {
    margin-right: 15px;
    background-color: #005f9e;
    border-radius: 1rem
}

.custom-range:disabled::-webkit-slider-thumb {
    background-color: #fff
}

.custom-range:disabled::-webkit-slider-runnable-track {
    cursor: default
}

.custom-range:disabled::-moz-range-thumb {
    background-color: #fff
}

.custom-range:disabled::-moz-range-track {
    cursor: default
}

.custom-range:disabled::-ms-thumb {
    background-color: #fff
}